n8n-beezion-ops-tasks.json
{
  "meta": {
    "instanceId": "beezion-ops-hub"
  },
  "name": "Beezion Ops - Fathom Meetings → Tasks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beezion-ops-tasks",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b1e2a3f4-0001-4abc-8def-000000000001",
      "name": "Fathom Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "beezion-ops-tasks-webhook"
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "=Eres el sistema de extracción de tareas de Beezion, una agencia de growth marketing B2B.\n\nEQUIPO BEEZION (SOLO estas personas hacen tareas):\n- Alejandro: área copy — hooks de video, scripts, body copy, CTAs, lead magnets, estrategia de messaging\n- Alec: área trafico — configuración campañas, audiencias, optimización de ads / área tech — CRM, automatizaciones, tracking, formularios\n- Paula: área admin — reportes, coordinación, onboarding, documentos / también apoyo en copy\n- Jose Luis: área trafico — configuración de campañas, pixel, audiencias, ajuste de bids\n\nCLIENTES DISPONIBLES EN EL SISTEMA: Dapta, Finkargo, Bink, Treble, OTF\n\nINSTRUCCIÓN: Analiza la transcripción y extrae ÚNICAMENTE tareas para el equipo de Beezion. Ignora tareas del cliente (Camilo, Cindy, equipo del cliente, etc.).\n\nResponde SOLO con JSON válido. Sin texto adicional, sin markdown, sin explicaciones.\n\nFormato:\n{\n  \"client_name\": \"Finkargo\",\n  \"meeting_title\": \"título de la reunión\",\n  \"meeting_date\": \"2026-04-06\",\n  \"tasks\": [\n    {\n      \"title\": \"descripción accionable y específica de la tarea\",\n      \"assignee\": \"Alejandro\",\n      \"area\": \"copy\",\n      \"priority\": \"alta\",\n      \"week\": 1,\n      \"tipo\": \"nuevo\",\n      \"problema\": \"problema que esta tarea resuelve o contexto clave\"\n    }\n  ]\n}\n\nReglas de asignación por tipo de tarea:\n- Hooks de video, scripts, anuncios, copy, CTAs, lead magnets, VSL, mensajes clave → area: copy, assignee: Alejandro\n- Configuración de campañas, audiencias, segmentación, optimización de pauta → area: trafico, assignee: Jose Luis\n- CRM, tracking, formularios, automatizaciones, integraciones → area: tech, assignee: Alec\n- Reportes, coordinación, seguimiento, documentos, onboarding → area: admin, assignee: Paula\n- Si Alec debe revisar estrategia de tráfico de alto nivel → area: trafico, assignee: Alec\n\nPrioridad:\n- alta: si dicen urgente, inmediato, esta semana con urgencia, bloqueante\n- media: tareas normales de esta semana o próxima\n- baja: mejoras a largo plazo, nice-to-have\n\nWeek (sprint):\n- 1: esta semana (inmediato o \"esta semana\")\n- 2: próxima semana\n- 3 o 4: más adelante\n\nTítulo reunión: {{ $json.body.meeting_title }}\nFecha: {{ $json.body.created_at }}\nGrabado por: {{ $json.body.recorded_by.name }}\nTranscripción completa: {{ JSON.stringify($json.body.transcript) }}"
      },
      "id": "b1e2a3f4-0002-4abc-8def-000000000002",
      "name": "Extract Beezion Tasks",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "b1e2a3f4-0003-4abc-8def-000000000003",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [520, 500],
      "credentials": {
        "anthropicApi": {
          "id": "YC72ihkuYzeAuejs",
          "name": "Anthropic account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude JSON and build Supabase payload\nconst llmText = $input.first().json.text || '';\n\nlet parsed;\ntry {\n  // Remove markdown code fences if present\n  const clean = llmText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  // Try to find JSON object in the text\n  const match = llmText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); }\n    catch(e2) { throw new Error('No se pudo parsear la respuesta: ' + llmText.slice(0, 300)); }\n  } else {\n    throw new Error('No se encontró JSON en la respuesta: ' + llmText.slice(0, 300));\n  }\n}\n\n// No Beezion tasks found? Skip gracefully\nif (!parsed.tasks || parsed.tasks.length === 0) {\n  return [{ json: { skipped: true, reason: 'No hay tareas de Beezion en esta reunión', meeting_title: parsed.meeting_title } }];\n}\n\n// Build Supabase-ready payload\nreturn [{\n  json: {\n    meeting_title: parsed.meeting_title || 'Reunión',\n    meeting_date: parsed.meeting_date || new Date().toISOString().slice(0, 10),\n    transcript: '',\n    tasks: parsed.tasks.map(t => ({\n      title: t.title,\n      client_name: parsed.client_name || null,\n      area: t.area || 'copy',\n      assignee: t.assignee || 'Alejandro',\n      priority: t.priority || 'media',\n      week: parseInt(t.week) || 1,\n      tipo: t.tipo || 'nuevo',\n      problema: t.problema || null\n    }))\n  }\n}];"
      },
      "id": "b1e2a3f4-0004-4abc-8def-000000000004",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-skip-check",
              "leftValue": "={{ $json.skipped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1e2a3f4-0005-4abc-8def-000000000005",
      "name": "Has Beezion Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xxjlwwjvhvyadjllcxyy.supabase.co/functions/v1/process-meeting",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4amx3d2p2aHZ5YWRqbGxjeHl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMjYyMzAsImV4cCI6MjA4OTYwMjIzMH0._zZu1669OlmPrAH_K-jgWNpT9Ue8r4pZ-xsXmwV_c7g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "b1e2a3f4-0006-4abc-8def-000000000006",
      "name": "POST to Beezion Ops Hub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "jsCode": "// No Beezion tasks — log and exit cleanly\nconsole.log('Reunión sin tareas de Beezion:', $json.meeting_title);\nreturn [{ json: { status: 'skipped', meeting: $json.meeting_title || 'unknown' } }];"
      },
      "id": "b1e2a3f4-0007-4abc-8def-000000000007",
      "name": "Skip (no tasks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 440]
    }
  ],
  "connections": {
    "Fathom Trigger": {
      "main": [
        [
          {
            "node": "Extract Beezion Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Beezion Tasks",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Beezion Tasks": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Has Beezion Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Beezion Tasks?": {
      "main": [
        [
          {
            "node": "POST to Beezion Ops Hub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (no tasks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    { "name": "beezion" },
    { "name": "fathom" },
    { "name": "ops-hub" }
  ]
}
